
body{
	background:-webkit-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("https://i.imgur.com/fZr3AKV.jpg") no-repeat center fixed;
	background:-o-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("https://i.imgur.com/fZr3AKV.jpg") no-repeat center fixed;
	background:-moz-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("https://i.imgur.com/fZr3AKV.jpg") no-repeat center fixed;
	background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("https://i.imgur.com/fZr3AKV.jpg") no-repeat center fixed;
	background-size:cover;
	color:#FFFFFF;
	height:100%;
	min-height: 100%;
}

html{
	height:100%;
	min-height: 100%;
}

.show-nav-button{
	color:#FFFFFF;
	top:0;
	padding-top:20px;
	position:absolute;
	right:12px;
	font-size:30px;
}

.show-nav-button:hover{
	color:#a3a375;
}

.search-streamer{
	display:none;
	border:1px solid #ccc;
	border-radius: 4px;
	background-color:#FFF;
	height: 34px;
	width:220px;
	font-size:14px;
	padding:6px 12px;
	margin-left:30px;
	color:#000;

	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.menu{
	display:none;
	text-align: center;
	border:1px solid #5c5c3d;
	padding-top:10px;
	margin-top:20px;
	padding-bottom: 10px;
}

.menu:hover{
	background-color:#1f1f14;
	cursor:pointer;
}

.menu-link:hover{
	text-decoration: none;
	font-weight: bold;
	color:#FFF;
}

.sidenav{
	height:100%;
	width:50px;
	position:fixed;
	z-index: 1;
	top:0;
	left:0;
	background-color:#111;
	opacity:.9;
	overflow-x: hidden;
	padding-top: 20px;
	transition: 0.5s;
	overflow-y: auto;
}

.sidenav-items:hover{
	color:#f1f1f1;
	font-weight: bold;
	text-decoration: none;
}

.sidenav-item-container{
	padding-top:20px;
}

.sidenav-items{
	display:none;
	text-decoration: none;
	font-size: 18px;
	color: #3277b3;
	transition: 0.3s;
	padding-left:10px;
	
}

.streamer-row{
	padding:15px 0 15px 30px;
	border:1px solid #5c5c3d;
	cursor:pointer;
}

.streamer-row:hover{
	background-color:#1f1f14;
}

.featured{
	padding:15px 0 15px 30px;
	border:1px solid #5c5c3d;
	cursor:pointer;
}

.featured:hover{
	background-color:#1f1f14;
}

.streamer-logo{
	height:3em;
	width:3em;
}

.visit-channel{
	margin-top:10px;
}

.streamer-more-info{
	padding-left:8px;
	display:inline-block;
}

.streamer-more-info:hover{
	color:#FFF;
	font-weight: bold;
}

.streamer-details{
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin:0;
	background-color: #2e2e1f;
}



.main-container{
	transiton:margin-left .5s;
	padding:20px;
	margin-left:70px;
}

.player-container{
	padding-top:30px;
}

.featured-games-container{
	
	padding: 70px 70px 0 70px;
}

.featured-games-result{
	display:inline-block;
	height:270px;
	width:140px;
	margin: 40px 40px 10px 0;
}

.featured-games{
	margin-top:20px;
	padding:0 0px 0 100px;
}

.featured-game-box{
	padding-bottom:10px;
}

.featured-game-name{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.featured-game-viewers{

}

.featured-game-link{
	color:#FFF;
}

.featured-game-link:hover{
	text-decoration: none;
	color:#000;
	font-weight: bold;
}
